<!DOCTYPE HTML>
<!--	Copywrite Joe Webb 2021. All rights reserved.-->
<html>
	<head>
		<title>Mad Chatter</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="static/css/skel.css" />
			<link rel="stylesheet" href="static/css/style.css" />
			<link rel="stylesheet" href="static/css/style-xlarge.css" />
		</noscript>
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="#">Title Here</a></h1>
				<nav id="nav">
					<ul>
					</ul>
				</nav>
			</header>

		
			<DIV align="center"  margin= "auto" position="relative"; class="inner">

				<!-- Main -->
				<div id="main">
					<section class="wrapper style1">
						<div class="inner">
							<!-- Intro -->
							<form method="post" action="#">
											
								<!-- Break -->
								<h2>Reset Your Password </h2>
								{% with messages = get_flashed_messages() %}
										  {% if messages %}
										    <strong><ul class=flashes>
										    {% for message in messages %}
										      {{ message }}
										    {% endfor %}
										    </ul></strong>
										  {% endif %}
										{% endwith %}
								<div class="6u$ 12u$(xsmall)">
									<p><strong>Please Enter Your Account Email</strong></p>
									<div class="6u$ 12u$(xsmall)">
											<input type="username2" name="email" id="email" value="" placeholder="Email" />
										</div>
									<br>
									<input type="submit" value="Reset Password" />
								</div>
							<br>
						
							</form>
						</div>
					</section>
				</div>
                                
					
			</DIV>
		<!-- Footer -->
			<footer id="footer">
								
				</div>
					<ul class="copyright">
						<li>&copy; Joe Webb 2021. All rights reserved.</li>
					</ul>
				</div>
			</footer>

	</body>
</html>